 <!-- start page id="pesakit" -->
    <% if user_signed_in? %>
      <a href="<%= new_patient_path %>" data-panel="main" data-role="button" style="margin-bottom:20px;">New Patient</a>
      <ul id="patient_list" data-role="listview" data-filter="true" data-theme="g">
        <% @patients.group_by{|x| x.name.humanize[0]}.sort.each do |key,value| %>
            <li data-role="list-divider"><%= key %> </li>
            <% value.each do |i| %>
            <li><%= link_to "#{i.name}", patient_path("#{i.id}"), 'data-panel'=>"main"%> </li>
            <%end%>
        <% end %>
      </ul>
    <% end %>
  <!-- end page id="pesakit" -->