 <div data-role="header">
   <%= yield :before_header %>
   
   <% if user_signed_in? %>
     <%= link_to "Logout", destroy_user_session_path, :class=>"ui-btn-right logout-btn", :rel => "external", :confirm => "Are you sure you want to logout?" %>
     <h1><%= title.blank? ? "Enginery" : "#{title}" %></h1>
   <% else %>
     <h1>Enginery</h1>
   <% end %>

   <%= yield :after_header %>
 </div>

