<% if user_signed_in? %>     
  <div data-role="footer" data-id="foo1" data-position="fixed">
    <%= yield :before_footer %>
    <div data-role="navbar">
      <ul>
        <li>
          <a href="#main" class="ui-btn-active" data-transition="slideup">
            Menu
          </a>
        </li>
        <li>
          <a href="#demo" data-transition="slideup">
            Aktiviti
          </a>
        </li>
      </ul>
    </div>
    <%= yield :after_footer %>
<% else %>
  <div data-role="footer">
    <%= yield :before_footer %>
    <h4>Enginery &copy CS8 2011. All Rights Reserved</h4>
    <%= yield :after_footer %>
<% end %>
</div><!-- closing div for both conditions in footer -->